/*-- scss:defaults --*/
$card-spacer-y: 1rem;
$card-spacer-x: 1rem;

/*-- scss:rules --*/
.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
    text-align: center;
}


div.quarto-about-solana {
  padding-bottom: 3rem;
  
  .about-entity {
    .about-links {
      // padding-top: 0rem;
      padding-bottom: .2rem;
    }
    .about-contents {
      padding-top: 1rem;
      padding-right: 3rem;
    }
    img {
      margin-bottom: 1rem;
    }
  }
}

.card h5 {
  padding-bottom: 1rem;
}

.sidebar {
  margin-top: 2rem;
}
